body
{
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.471;
}

.wrapper
{
	width: 100%;
	background: #fff;
}

.light
{
	color: #ecf0f1 !important;
}

.light-faded
{
	color: #c5c5c5 !important;
}

.sidebar
{
	min-height: 100vh;
	z-index: 3;
	position: absolute;
	width: 250px;
	background: #2a3f54;
}

@media(max-width:767px)
{
	.sidebar
	{
		min-height: 0;
		width: 100%;
		top: 51px;
	}
}

.sidebar ul li a
{
	color: #ecf0f1;
	font-size: 14px;
	cursor: pointer;
}

.sidebar ul li a:hover
{
	background-color: rgba(255,255,255,.05);
	font-weight: 700;
	font-size: 16px;
	border-right: 5px solid #1abb9c !important;
}

.sidebar ul li a.active,.sidebar ul li a.focus
{
	font-weight: 700;
	font-size: 16px;
	border-right: 5px solid #1abb9c !important;
}

.sidebar ul li a.active
{
	background-color: rgba(255,255,255,.05);
}

.sidebar ul li a.focus,.sidebar ul li a:hover
{
	box-shadow: rgba(0,0,0,.25) 0 1px 0,inset rgba(255,255,255,.16) 0 1px 0;
}

.sidebar ul li a i
{
	margin-right: 10px;
}

.sidebar ul.parent-menu
{
	margin-bottom: 70px;
}

.sidebar ul.parent-menu>li
{
	margin-bottom: 2px;
}

.sidebar ul.child-menu
{
	display: none;
}

.sidebar ul.child-menu li a
{
	font-size: 12px;
	cursor: pointer;
	padding-left: 25px;
	border-right: 3px solid #1abb9c;
}

.sidebar ul.child-menu li a.active,.sidebar ul.child-menu li a.focus,.sidebar ul.child-menu li a:hover
{
	background-color: rgba(255,255,255,.05);
	font-weight: 700;
	font-size: 14px;
	border-right: 4px solid #1abb9c !important;
}

.sidebar .brand-icon
{
	height: 50px;
	margin-right: 10px;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.sidebar .user-block
{
	height: 100px;
	padding: 10px;
}

.sidebar .user-block img
{
	border-radius: 50%;
	width: 70px;
	border: 2px solid #1abb9c;
	float: left;
}

.sidebar .user-block .user-content
{
	float: left;
	padding: 10px;
}

.sidebar h1,.sidebar h2,.sidebar h3,.sidebar h4,.sidebar h5,.sidebar h6
{
	float: left;
	color: #ecf0f1;
	margin-top: 5px;
	margin-bottom: 5px;
}

@media(min-width:768px)
{
	.sidebar-sm
	{
		width: 80px;
	}

	.sidebar-sm ul.parent-menu>li
	{
		position: relative;
	}

	.sidebar-sm ul.parent-menu>li>a
	{
		font-size: 30px;
		text-align: center;
	}

	.sidebar-sm ul.parent-menu>li>a>i
	{
		margin-right: 0;
	}

	.sidebar-sm ul.parent-menu>li>a>span
	{
		display: none;
	}

	.sidebar-sm ul.parent-menu>li ul.child-menu
	{
		position: absolute;
		left: 100%;
		top: 0;
		width: 250px;
		background: #2a3f54;
	}

	.sidebar-sm .brand-icon
	{
		display: none;
	}

	.sidebar-sm .sidebar-sm-visible-child
	{
		display: block;
	}

	.sidebar-sm .sidebar-sm-hidden-child
	{
		display: none;
	}

	.sidebar-sm .user-block img
	{
		width: 50px;
	}
}

.content-wrapper
{
	margin-left: 250px;
	max-height: 100vh;
	overflow-y: scroll;
}

@media(max-width:767px)
{
	.content-wrapper
	{
		margin-left: 0;
	}
}

@media(min-width:768px)
{
	.sidebar-sm+.content-wrapper
	{
		margin-left: 80px;
	}
}

.side-bar-toggle
{
	display: block;
}

@media(max-width:767px)
{
	.side-bar-toggle
	{
		display: none;
	}
}

.header
{
	display: flex;
}

.header .navbar-toggle
{
	border-color: #2a3f54 !important;
	margin: 5px;
}

.header .navbar-toggle .icon-bar
{
	background-color: #2a3f54 !important;
}

.pagination-container
{
	display: inline-block;
}

.pagination-container .pagination
{
	margin: 0;
}

.pagination-container .pagination li.active a
{
	color: #fff !important;
	background-color: #2a3f54 !important;
	border-color: #2a3f54 !important;
}

.pagination-container .pagination li a
{
	color: #2a3f54 !important;
}

.my-table tr td:last-child,.my-table tr th:last-child
{
	text-align: center;
}

.my-badge
{
	min-width: 3rem;
	padding: 3px 6px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	height: 22px;
	color: #fff;
	box-sizing: border-box;
	border-radius: 2px;
}

.my-badge.badge-red
{
	background-color: #f44336;
}

.my-badge.badge-pink
{
	background-color: #e91e63;
}

.my-badge.badge-purple
{
	background-color: #9c27b0;
}

.my-badge.badge-indigo
{
	background-color: #3f51b5;
}

.my-badge.badge-blue
{
	background-color: #2196f3;
}

.my-badge.badge-cyan
{
	background-color: #00bcd4;
}

.my-badge.badge-teal
{
	background-color: #009688;
}

.my-badge.badge-green
{
	background-color: #4caf50;
}

.my-badge.badge-lime
{
	background-color: #cddc39;
}

.my-badge.badge-yellow
{
	background-color: #ffeb3b;
}

.my-badge.badge-amber
{
	background-color: #ffc107;
}

.my-badge.badge-orange
{
	background-color: #ff9800;
}

.my-badge.badge-brown
{
	background-color: #795548;
}

.my-badge.badge-grey
{
	background-color: #9e9e9e;
}

.my-badge.badge-blue-grey
{
	background-color: #607d8b;
}

.my-badge.badge-white
{
	background-color: #fff;
}

.my-badge.badge-black
{
	background-color: #000;
}

.btn-round
{
	border-radius: 50%;
}

.card
{
	position: relative;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

.card .card-header
{
	background-color: #ecf0f1;
	padding: 3px 20px;
}

.card .card-header .card-title
{
	color: #2a3f54;
	font-size: 24px;
	font-weight: 300;
}

.card .card-content
{
	padding: 3px;
}

.loader
{
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	position:absolute;
    top:45%;
    left:45%;
}

.loader .loader-lg
{
	width: 120px;
	height: 120px;
	border: 16px solid;
}

.loader .loader-lg
{
	width: 25px;
	height: 25px;
	border: 4px solid;
}

.loader.loader-red
{
	border-top-color: #f44336;
}

.loader.loader-pink
{
	border-top-color: #e91e63;
}

.loader.loader-purple
{
	border-top-color: #9c27b0;
}

.loader.loader-indigo
{
	border-top-color: #3f51b5;
}

.loader.loader-blue
{
	border-top-color: #2196f3;
}

.loader.loader-cyan
{
	border-top-color: #00bcd4;
}

.loader.loader-teal
{
	border-top-color: #009688;
}

.loader.loader-green
{
	border-top-color: #4caf50;
}

.loader.loader-lime
{
	border-top-color: #cddc39;
}

.loader.loader-yellow
{
	border-top-color: #ffeb3b;
}

.loader.loader-amber
{
	border-top-color: #ffc107;
}

.loader.loader-orange
{
	border-top-color: #ff9800;
}

.loader.loader-brown
{
	border-top-color: #795548;
}

.loader.loader-grey
{
	border-top-color: #9e9e9e;
}

.loader.loader-blue-grey
{
	border-top-color: #607d8b;
}

.loader.loader-white
{
	border-top-color: #fff;
}

.loader.loader-black
{
	border-top-color: #000;
}

.loader-overlay
{
	z-index: 1100;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #e8e8e8;
	opacity: .5;
	display: none;
}

@-webkit-keyframes spin
{
	0%
	{
		-webkit-transform: rotate(0);
	}

	100%
	{
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin
{
	0%
	{
		transform: rotate(0);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

.switch
{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

.switch input
{
	display: none;
}

.switch .slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch .slider:before
{
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch .slider.round
{
	border-radius: 25px;
}

.switch .slider.round:before
{
	border-radius: 50%;
}

.switch input:checked+.slider
{
	background-color: #2196f3;
}

.switch input:focus+.slider
{
	box-shadow: 0 0 1px #2196f3;
}

.switch input:checked+.slider:before
{
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}

.switch-lg
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

.switch-lg input
{
	display: none;
}

.switch-lg .slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch-lg .slider:before
{
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch-lg .slider.round
{
	border-radius: 30px;
}

.switch-lg .slider.round:before
{
	border-radius: 50%;
}

.switch-lg input:checked+.slider
{
	background-color: #2196f3;
}

.switch-lg input:focus+.slider
{
	box-shadow: 0 0 1px #2196f3;
}

.switch-lg input:checked+.slider:before
{
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
}

.switch-sm
{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.switch-sm input
{
	display: none;
}

.switch-sm .slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch-sm .slider:before
{
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch-sm .slider.round
{
	border-radius: 20px;
}

.switch-sm .slider.round:before
{
	border-radius: 50%;
}

.switch-sm input:checked+.slider
{
	background-color: #2196f3;
}

.switch-sm input:focus+.slider
{
	box-shadow: 0 0 1px #2196f3;
}

.switch-sm input:checked+.slider:before
{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.sidebar .navbar-collapse
{
	padding-left: 0;
	padding-right: 0;
}

.sidebar .brand-icon img
{
	height: inherit;
}

.title
{
	padding-bottom: 9px;
	margin: 10px 0 10px;
	border-bottom: 2px solid #eee;
}

.details-view
{
	border-bottom: 1px solid #9e9e9e;
	padding-left: 10px;
	margin-bottom: 10px;
}

@media(min-width:768px)
{
	.details-view
	{
		display: flex;
		align-items: center;
	}
}

.details-view .details-header
{
	display: flex;
	align-items: center;
}

.details-view .details-header .details-title
{
	font-size: 25px;
	font-weight: 500;
}

.details-view .details-header .details-title,.details-view .details-header h1,.details-view .details-header h2,.details-view .details-header h3,.details-view .details-header h4,.details-view .details-header h5,.details-view .details-header h6
{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2a3f54;
}

.details-view .details-content span
{
	font-size: 15px;
	font-weight: 600;
	color: #607d8b;
}

.details-view .details-content span.fa
{
	font-weight: 500;
}

.login-page
{
	background: #2a3f54;
}

.login-page .wrapper
{
	padding-top: 20vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
	background: 0;
}

.login-page .wrapper .card
{
	border-radius: 5px;
}

.login-page .wrapper .card .card-header
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.login-page .wrapper .card .card-content form
{
	padding: 10px;
}

.height-50
{
	height: auto;
	max-height: 50vh;
	overflow-y: scroll;
	padding: 0;
}

.breadcrumb
{
	margin-bottom: 5px;
}

.content-wrapper>.navbar
{
	margin-bottom: 10px;
}