﻿@using FinezWebApp452mvc.Models.ViewModels
@model List<FinezWebApp452mvc.Models.ViewModels.DeviceVM>
@for (int i = 0; i < Model.Count; i++)
{
    <tr >
        <td>@i</td>
        <td>@Model[i].Name</td>
        <td>@Model[i].Id1</td>
        <td>@Model[i].Id2</td>
        <td>@Model[i].Key</td>
        <td>@Model[i].Status</td>
        <td>
            @if (Model[i].Status == DeviceStatus.Active)
            {
                @Ajax.ActionLink("Maintenance", "UpdateDeviceStatus", "Branch", new { Id = Model[i].Id,Status= DeviceStatus.Maintenance }, new AjaxOptions
           {
               HttpMethod = "Put",
               LoadingElementId = "divLoader",
               OnSuccess = "getDevices"
           }, new { @class = "btn btn-primary btn-warning", @style = "margin-right:5px;" })
                
                @Ajax.ActionLink("Block", "UpdateDeviceStatus", "Branch", new { Id = Model[i].Id, Status = DeviceStatus.Blocked }, new AjaxOptions
           {
               HttpMethod = "Put",
               LoadingElementId = "divLoader",
               OnSuccess = "getDevices"
           }, new { @class = "btn btn-primary btn-danger" })
            }
            else if (Model[i].Status != DeviceStatus.UnRegistered)
            {
                @Ajax.ActionLink("Activate", "UpdateDeviceStatus", "Branch", new { Id = Model[i].Id, Status = DeviceStatus.Active }, new AjaxOptions
           {
               HttpMethod = "Put",
               LoadingElementId = "divLoader",
               OnSuccess = "getDevices"
           }, new { @class = "btn btn-primary btn-success" }) 
            }
        </td>
    </tr>
}