﻿@using FinezWebApp452mvc.Models.ViewModels
@model FinezWebApp452mvc.Models.ViewModels.BranchVM
<div class="row details-view">
    <div class="col-sm-9">
        <div class="details-header">
            <span class="details-title">@(Model.ClientName + " > " + Model.Name)</span> &nbsp&nbsp
            <div>
                <span class="my-badge @(Model.Status==BranchStatus.Active?"badge-green":"badge-red")">@Model.Status</span>
            </div>
        </div>
        <div class="details-content">
            <div class="row">
                <span>
                    <span class="fa fa-map-marker"></span>
                    &nbsp
                    @Model.Street,&nbsp @Model.City,&nbsp @Model.District,&nbsp @Model.State &nbsp PIN : @Model.Pincode
                </span>
                <br />
                <span>
                    <span class="fa fa-phone"></span>
                    &nbsp
                    @Model.Mobile , @Model.Phone
                </span>
                &nbsp&nbsp&nbsp
                <span>
                    <span class="fa fa-envelope "></span>
                    &nbsp
                    @Model.Email
                </span>
                <br />
                <span>
                    <span class="fa fa-calendar"></span>
                    &nbsp Expiry date :
                    @Model.ExpiryDate.ToString("yyyy-MMM-dd")
                </span>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="col-sm-1" style="text-align:right">
        <div style="margin:2px;">
            <button class="btn btn-warning" data-toggle="modal" data-target="#EditBranchModal"><span class="fa fa-pencil"></span></button>
        </div>
    </div>
    <div class="col-sm-2" style="text-align:left">
        @if (Model.Status == BranchStatus.Active)
            {
            <div style="margin:2px;">
                <button class="btn btn-danger">Block</button>
            </div>
        }
        else
        {
            <div style="margin:2px;">
                <button class="btn btn-primary">Activate</button>
            </div>
        }

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="panel-title" style="line-height: 2">Devices</h3>
                    </div>
                    <div class="col-md-3">
                        @Ajax.ActionLink("Generate Key", "GenerateDeviceKey", "Branch", new { BranchId = Model.BranchId }, new AjaxOptions
                       {
                           HttpMethod = "Post",
                           LoadingElementId = "divLoader",
                           OnSuccess = "getDevices"
                       }, new { @class = "btn btn-primary btn-block" })
                    </div>
                    @using (Ajax.BeginForm("GetDevices", "Branch", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        LoadingElementId = "divLoader",
                        UpdateTargetId = "DeviceListContainer",
                    }, new { id = "formGetDevices" }))
                    {
                        @Html.Hidden("BranchId", Model.BranchId);
                    }
                </div>
            </div>
            <div class="panel-body height-50">
                <table class="table table-striped table-hover my-table">
                    <thead>
                        <tr>
                            <th class="">#</th>
                            <th class="">Name</th>
                            <th class="">ID1</th>
                            <th class="">ID2</th>
                            <th class="">Key</th>
                            <th class="">Status</th>
                            <th class="col-md-3">Action</th>
                        </tr>
                    </thead>
                    <tbody id="DeviceListContainer"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="panel-title" style="line-height: 2">Employees</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body height-50">
                <table class="table table-striped table-hover my-table">
                    <thead>
                        <tr>
                            <th class="">Name</th>
                            <th class="">Contacts</th>
                            <th class="">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (EmployeeVM emp in Model.Employees)
                        {
                            <tr>
                                <td class="">@emp.Name</td>
                                <td class="">
                                    @emp.Phone,<br/>
                                    @emp.Mobile,<br/>
                                    @emp.Email
                                </td>
                                <td class="">@emp.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="EditBranchModal" tabindex="-1" role="dialog" aria-labelledby="Edit Branch">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Edit Branch</h3>
                </div>
                <div class="modal-body" id="EditBranchFormContainer">
                    @Html.Partial("EditBranchPartial", AutoMapper.Mapper.Map<EditBranchVM>(Model))
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            getDevices();
        })
        function getDevices() {
            $("#formGetDevices").submit();
        }
        function onBranchUpdate(data) {
            if (data.indexOf("field-validation-error") > -1) return;
            else location.reload(true);
        }
    </script>
}


