﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        <div id="divLoader" style="" class="loader-overlay">
            <div class="loader loader-lg loader-blue"></div>
        </div>
        <div class="sidebar navbar-default ">
            <div class="user-block hidden-xs">
                <img src="~/images/user.png" alt="">
                <div class="user-content sidebar-sm-hidden-child">
                    <h5>Admin</h5><br />
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" style="padding:0px;font-size:12px" class="btn btn-link">Logout</button>
                    }
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav parent-menu">
                    <li>
                        <a class="active" href="index.html">
                            <i class="fa fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a>
                            <i class="fa fa-users"></i>
                            <span>Clients</span>
                        </a>
                        <ul class="nav child-menu">
                            <li><a href="@Url.Action("Index", "Client")"><span>All clients</span></a></li>
                            <li><a href="@Url.Action("Add", "Client")">Add client</a></li>
                        </ul>
                    </li>
                    @*<li>
                        <a href="beneficiary_requests.html">
                            <i class="fa fa-handshake-o"></i>
                            <span>Beneficiary requests</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-exchange"></i>
                            <span>Transactions</span>
                        </a>
                        <ul class="nav child-menu">
                            <li><a href="transactions.html">All</a></li>
                            <li><a href="transactions_completed.html">Completed</a></li>
                            <li><a href="transactions_pending.html">Pending</a></li>
                            <li><a href="transactions_failed.html">Failed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="">
                            <i class="fa fa-user-circle "></i>
                            <span>Admin users</span>
                        </a>
                        <ul class="nav child-menu">
                            <li><a href="admin_users.html" class="">All users</a></li>
                            <li><a href="add_adminUser.html">Add user</a></li>
                            <li><a href="admin_type.html">User types</a></li>
                            <li><a href="Blocked_admin.html">Blocked users</a></li>
                        </ul>
                    </li>*@

                </ul>
            </div>
            <div class="brand-icon  hidden-xs">
                <img src="images/logo.png" alt="">
            </div>
        </div>
        <div class="content-wrapper">
            <nav class="navbar navbar-default navbar-static-top ">
                <div class="navbar-header header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle side-bar-toggle pull-left" data-target=".sidebar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        @ViewBag.Title
                    </div>
                </div>

            </nav>
            <div class="container-fluid" style="padding:0px 15px;">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
