﻿@model FinezWebApp452mvc.Models.ViewModels.PaginationModel
@{
    int totalPages = Model.RowCount / Model.PerPage;
}
@if (totalPages > 1)
{
    <nav class="pagination-container pull-right" style="" aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li class=""><a class="" href="javascript:void(0);" aria-label="Previous" onclick="@(Model.OnClickfunction)(1)"><span aria-hidden="true">«</span></a></li>
            }
            else
            {
                <li class="disabled"><a class="" href="javascript:void(0);" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            }
            @for (var i = Model.CurrentPage - 2; i < Model.CurrentPage; i++)
            {
                if (i > 0)
                {
                    <li class=""><a class="" href="javascript:void(0);" onclick="@(Model.OnClickfunction)(@i)">@i</a></li>
                }
            }
            <li class="active">
                <a class="">@Model.CurrentPage </a>
                @for (var i = Model.CurrentPage + 1; i < Model.CurrentPage + 3 && i <= totalPages; i++)
                {
                <li class=""><a class="" href="javascript:void(0);" onclick="@(Model.OnClickfunction)(@i)">@i</a></li>
                }
                @if (Model.CurrentPage != totalPages)
                {
                    <li class=""><a class="" href="javascript:void(0);" aria-label="Next" onclick="@(Model.OnClickfunction)(@totalPages)"><span aria-hidden="true">»</span></a></li>
                }
                else
                {
                    <li class="disabled"><a class="" href="javascript:void(0);" aria-label="Next" onclick="@(Model.OnClickfunction)(@totalPages)"><span aria-hidden="true">»</span></a></li>
                }
            </ul>
        </nav>
}