﻿@using FinezWebApp452mvc.Models.ViewModels
@model List<FinezWebApp452mvc.Models.ViewModels.BranchVM>
@for (int i = 0; i < Model.Count; i++)
{
    <tr title="Click to view branch details" onclick="(function(){window.location='@Url.Action("Index","branch",new { Id=Model[i].BranchId})'})();" >
        <td>@i</td>
        <td>@Model[i].Name</td>
        <td><span class="my-badge @(Model[i].Status==BranchStatus.Active?"badge-green":"badge-red")">@Model[i].Status</span></td>
    </tr>
}
