﻿@using FinezWebApp452mvc.Models.ViewModels
@model FinezWebApp452mvc.Models.ViewModels.SearchClientVM
<table class="table table-striped table-hover my-table">
    <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Client Code</th>
            <th class="col-md-2">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            
                <tr style="cursor:pointer" title="Click to view client details" onclick="(function(){window.location='@Url.Action("Details","Client",new { Id=client.Id})'})();">
                    <td>1</td>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.Mobile</td>
                    <td>@client.ClientCode</td>
                    <td>@client.Status</td>
                </tr>
        }
</tbody>
</table>
<div style="width:100%">@Html.Partial("PaginationView",new PaginationModel {CurrentPage=Model.PageNo,OnClickfunction= "submitForm",PerPage=Model.PerPage,RowCount=Model.RowCount })</div>