﻿@using FinezWebApp452mvc.Models.ViewModels
@model FinezWebApp452mvc.Models.ViewModels.ClientVM
<div class="row details-view">
    <div class="col-sm-8">
        <div class="details-header">
            <span class="details-title">@Model.Name</span> &nbsp&nbsp
            <div>
                <span class="my-badge @(Model.Status==ClientStatus.Active?"badge-green":"badge-red")">@Model.Status</span>
            </div>
        </div>
        <div class="details-content">
            <div>
                <span>
                    <span class="fa fa-phone"></span>
                    &nbsp
                    @Model.Mobile , @Model.Phone
                </span>
                &nbsp&nbsp&nbsp
                <span>
                    <span class="fa fa-envelope "></span>
                    &nbsp
                    @Model.Email
                </span>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="col-sm-4" style="text-align:center">
        @if (Model.Status == ClientStatus.Active)
        {
        <div style="margin:2px;">
            <button class="btn btn-danger">Block</button>
        </div>
        }
        else
        {
        <div style="margin:2px;">
            <button class="btn btn-primary">Activate</button>
        </div>
        }

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="panel-title" style="line-height: 2">Branches</h3>
                    </div>
                    <div class="col-md-3">
                        <div class="btn btn-primary btn-block" data-toggle="modal" data-target="#AddBranchModal">Add</div>
                    </div>
                    @using (Ajax.BeginForm("GetBranches", "Client", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        LoadingElementId = "divLoader",
                        UpdateTargetId = "BranchListContainer",
                    }, new { id = "formGetBranches" }))
                    {
                     @Html.Hidden("clientId",Model.Id);
                    <div class="input-group col-md-6">
                        @Html.TextBox("SearchText",null,new { @class= "form-control", placeholder = "search...." })
                        @*<input type="text" class="form-control" id="" placeholder="search....">*@
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    }
                </div>
            </div>
            <div class="panel-body height-50">
                <table class="table table-striped table-hover my-table">
                    <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-1">Name</th>
                            <th class="col-md-2">Status</th>
                        </tr>
                    </thead>
                    <tbody id="BranchListContainer"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddBranchModal" tabindex="-1" role="dialog" aria-labelledby="Add Branch">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Add Branch</h3>
            </div>
            <div class="modal-body" id="AddBranchFormContainer">
                @Html.Partial("AddBranchPartial",new AddBranchVM() { ClientId=Model.Id})
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            getBranches();
        })
        function getBranches() {
            $("#formGetBranches").submit();
        }
    </script>
    }
