﻿@{
    ViewBag.Title = "Clients";
}
@model FinezWebApp452mvc.Models.ViewModels.SearchClientVM
@using (Ajax.BeginForm("GetClients", "Client", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    LoadingElementId = "divLoader",
    UpdateTargetId = "divClientListContainer",

}, new { id = "formGetClients" }))
{
    @Html.HiddenFor(model => model.PageNo, new { id = "hdnPageNo" })
    <div class="row">
        <div class="col-md-9 col-xs-6">
            <div class="form-group">
                <div class="input-group">
                    @Html.EditorFor(model => model.searchText, new { htmlAttributes = new { @class = "form-control", placeholder = "search...." } })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div action="" class="form-inline">
                <div style="width:100%" class="pull-right form-group">
                    <span style="display:inline-block !important">Show</span>
                    @Html.DropDownListFor(m => m.PerPage, Model.perPageList, new { @class = "form-control", style = "width:auto", onChange= "submitForm();" })
                    <span style="display:inline-block !important">Entries</span>
                </div>
            </div>

        </div>
    </div>
}
<div id="divClientListContainer">@Html.Partial("ClientListPartial",Model)</div>
@section scripts{
    <script type="text/javascript">
        function submitForm(page) {
            if (page) $("#hdnPageNo").val(page);
            $("#formGetClients").submit();
        }
    </script>
    }

